.services-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 100px;
}
.services{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 24px;
}

.card h3{
text-decoration: none;
color: rgb(148, 22, 22);
}

.services img{
width: 100%;
height: 60%;
}
.card button:hover{
  background-color: black;
  color: white;
}

@media screen and (max-width: 902px){
.services-container{
 grid-template-columns: 1fr;
 width: 80%;
 gap: 0px;
}
.services{
 display: flex;
 flex-direction: column;
 width: 100%;
 gap: 0px;
}
}