
.service-detail {
  margin: 15px;
}
 .service-detail img{
  width: 200px;
  height: 110px;
  margin-bottom: 8px;
  border: 1px solid grey;
}

.review-length{
    color: rgb(148, 22, 22);
}

@media screen and (max-width:902px){

  .my-review-container{
    margin-top: 20px;
  }

  .service-detail {
    margin: 0;
  }

  .service-detail img{
    width: 50px;
    height: 40px;
    margin-bottom: 8px;
    border: 1px solid grey;
  }

  .review-table{
   width: 5px;
  }

  .table-part{
    width: 20px;
  }

  .email{
    display: none;
  }
}