.my-review-container{
   margin-top: 80px;
   margin-bottom: 140px;
 }

#review-container{
   border: 1px solid black ;
   width: 62%;
   text-align: center;
}

.service-detail img{
   width: 200px;
   height: 110px;
   margin: 10px;
   border-radius: 10px;
 }

.review-table{
   padding-left: 20px;
  padding-right: 20px;
  margin-top: 42px;
}

.customer-row{
   margin-top: 34px;
}

.no-reviews{
   margin-top: 20%;
}

@media screen and (max-width: 959px){
   .my-review-container{
      width: 100%;
      margin-top: 40px;
      margin-bottom: 50px;
    }

   #review-container{
      width: 100%;
      margin: 0;
      padding: 0;
   }
   .review-table{
   padding: 0;
   margin: 5px 0px 0px 0px;
}
.customer-row{
   padding: 0;
   margin: 5px 0px 0px 0px;
}

.service-detail img{
   width: 100%;
   height: 50px;
   margin: 5px 0px 5px 0px;
   border-radius: 0;
 }

 .customer-detail{
   display: none;
 }

}