.header-container{
 background-color:  rgb(238, 234, 229);
 border-radius: 8px;
}
.menu{
  margin-right: 17px;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
}
.login{
  margin-right: 17px;
  margin-bottom: 6px;
  text-decoration: none;
  color: black;
}
.login:hover{
background-color: white;
}
.menu:hover{
background-color: rgb(227, 180, 92);
}

.logo{
width: 60px;
height: 40px;
margin-bottom: 15px;
}

.right-btn{
  background-color: white;
}

.right-btn:hover{
   color: white;
   background-color: black;
}
