.footer-container{
  height: 250px;
  background-color: #040000;  
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 20px;
   align-items: center;
   justify-content: center;
}

.logo{
  width: 70px;
  height: 50px;
}

@media screen and (max-width: 902px){
  .footer-container{
    height: 380px ;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}