.card{
 margin-left: 14%;
 margin-right: 14%;
 }

.service-name{
  color: rgb(148, 22, 22);
}

#review-section{
     display: grid;
     grid-template-columns: 7fr 5fr;
     margin-top: 150px;
}

#review-card{
   height: 200px ;
}

#user-img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(148, 22, 22);
}

#review-title{
  background-color: rgb(238, 234, 229);
}

.review-form{
  border: 2px solid black;
   border-radius: 15px;
   margin-bottom: 100px;
   background-color:rgb(238, 234, 229);
}

#review-btn:hover{
       background-color: black;
       color: white;
}

@media screen and ( max-width: 902px){
.card{
margin: 0;
width: 100%;
  }

  #review-section{
    grid-template-columns: 1fr;
    margin: 0;
    width: 100%;
}

}