.cover-description{
  width: 50%;
  padding-left: 20px;
  padding-bottom: 30px;
}

.cover{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 90px;
  margin-bottom: 100px;
  border-radius: 30px;
  background-color:  rgb(238, 234, 229);
} 

.cover img{
padding: 0;
margin: 0;
} 

@media screen and (max-width: 959px) {
  .cover{
    flex-direction: column;
    width: 100%;
    margin: 30px 0px 0px 0px;
    border-radius: 0px;
  } 
  .cover-description{
    width: 90%;
    margin-top: 20px;
    height: 460px;
    padding: 0;
  
  } 
  .cover img{
    width: 100%;
  }   
}